name: 'Test'
on: [push, pull_request]
env:
  JF_ARTIFACTORY_LOCAL: eyJ2ZXJzaW9uIjoxLCJ1cmwiOiJodHRwOi8vMTI3LjAuMC4xOjgwODEvYXJ0aWZhY3RvcnkvIiwidXNlciI6ImFkbWluIiwicGFzc3dvcmQiOiJBUEI3REVaUlBpSHFIRFRRb2tMa3g5aGh6S1QiLCJzZXJ2ZXJJZCI6ImxvY2FsIn0=
jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
                version: ['', 'latest', '2.11.1']
            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup JFrog CLI
              if: matrix.version != ''
              uses: ./
              with:
                  version: ${{ matrix.version }}
            - name: Setup default JFrog CLI
              if: matrix.version == ''
              uses: ./
            - name: Version # Check that the correct CLI version was downloaded
              run: jfrog --version
            - name: Sanity # Check local server successfully configured
              run: jfrog c show local
            - name: Check build URL
              uses: wei/curl@master
              with:
                  args: -I ${JFROG_CLI_BUILD_URL}
              if: runner.os == 'Linux'
            - name: Setup NodeJS # Download NodeJS to allow running the tests on macOS
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - name: Check action environment
              run: node scripts/check-env.js
            - name: Install
              run: npm i
            - name: Unit tests
              run: npm t

